body {
  background: linear-gradient(#222, #111);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  font-family: "Open Sans";
  box-sizing: border-box;
}

*, *::before, *::after {
  font-family: "Open Sans";
  box-sizing: inherit;
}

*:focus, *::before:focus, *::after:focus {
  outline: none;
}

/* bg-texture
http://2.bp.blogspot.com/-Fp08urfL5yU/T4SrVhzeWYI/AAAAAAAAAag/fxLH1Pg9Xf8/s640/Roof_Tiles_3.jpg
*/